@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Exercise 3");

    //consider your need for global variables
    var Title = "";
    var ArtistId = "0";
    var ReleaseYear = "";
    var ReleaseLabel = "";


    var db = Database.Open("CHINOOK");
    var supplierquery = "SELECT ArtistId, Name "
            + "FROM Artists "
            + "Order by Name";
 var supplierlist = db.Query(supplierquery);
  

    //these are validator controls execute on the server side

    Validation.Add("Title",
         Validator.Required("Title is required"),
          Validator.StringLength(160, 1, "Title name is limited to 160 characters"));

    Validation.Add("Artist",
         Validator.Range(1,10000,"Artist is required"));


    Validation.Add("ReleaseYear",
        
        Validator.Range(1950,DateTime.Today.Year,"Year is out of range,1950 to today"));

    Validation.Add("ReleaseLabel",
        
         Validator.StringLength(50, 0, "Product name is limited to 50 characters"));



    
}
@section head{
    @*<link href="~/Content/MyCssCopy.css" rel="stylesheet" />*@
}

@section banner{
    <h1>@Page.Title</h1>
}

@if (IsPost)
        {
            Title = Request.Form["Title"];
            ArtistId = Request.Form["Artist"];
            ReleaseYear = Request.Form["ReleaseYear"];
            ReleaseLabel = Request.Form["ReleaseLabel"];

            var thebutton = Request.Form["FormButton"];

            if (thebutton.Equals("Clear")) //pressed the CLEAR button
            {
                Title = "";
                ArtistId = "0";
                ReleaseYear = "";
                ReleaseLabel = "";


            }
            else //pressed the ADD button
            {
                if (Validation.IsValid())
                {
                    try
                    {
                        var inscommand = "INSERT INTO Albums "
                            + "(Title, ArtistId, ReleaseYear, ReleaseLabel) "
                            + "VALUES(@0, @1, @2, @3)";
                        db.Execute(inscommand, Title,
                            ArtistId,
                           ReleaseYear,
                            ReleaseLabel);
               


                <div class="col-12 text-center">
                    <p style="color:green">
                        Product has been ADDED
                    </p>
                </div>
            }
            catch (Exception ex)
            {
                <div class="col-12 text-center">
                    <p style="color:firebrick; font-size:large">
                        Processing error: @ex.Message
                    </p>
                </div>
            }
        }
    }
}
else
{

}
@Html.ValidationSummary()
<form id="theForm" action="" method="post">
    <div class="row row-cols-2">
        <div class="col text-right">
            <label id="lblProductName" for="Title">Title</label>
        </div>
        <div class="col text-left">
            <input type="text" name="Title" value="@Title" />
        </div><br />
        <div class="col text-right">
            <label id="lblArtist" for="ArtistId">Artist</label>
        </div>
        <div class="col text-left">
            <select name="Artist">
                <option value="0">select...</option>
                @foreach (var acollectionrow in supplierlist)
                {
                    if (acollectionrow.ArtistId.ToString() == ArtistId)
                    {
                        <option value="@acollectionrow[0]" selected>@acollectionrow[1]</option>
                    }
                    else
                    {
                        <option value="@acollectionrow[0]">@acollectionrow[1]</option>
                    }
                }
            </select>
        </div><br />
        

        <div class="col text-right">
            <label id="lblReleaseYear" for="ReleaseYear">Year</label>
        </div>
        <div class="col text-left">
            <input type="number" name="ReleaseYear" value="@ReleaseYear" />
        </div><br />
        <div class="col text-right">
            <label id="lblReleaseLabel" for="ReleaseLabel">Label</label>
        </div>
        <div class="col text-left">
            <input type="text" name="ReleaseLabel" value="@ReleaseLabel" />
        </div><br />


    </div>
    <div class="row">
        <div class="col-12 text-center">
            <input type="submit" id="FormButton" name="FormButton"
                   class="btn btn-primary" value="Add" />
            <input type="submit" id="FormButton" name="FormButton" formnovalidate
                   class="btn" value="Clear" />
        </div>

    </div>
</form>